In [10]:
import pandas as pd
import numpy as np # linear algebra
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import metrics 

BTC_df=pd.read_csv('Practice_datasets\crypto\BTC.csv')
BTC_df.head()

  ticker        date     open     high      low    close
0    BTC  2010-07-17  0.04951  0.04951  0.04951  0.04951
1    BTC  2010-07-18  0.04951  0.08585  0.04951  0.08584
2    BTC  2010-07-19  0.08584  0.09307  0.07723  0.08080
3    BTC  2010-07-20  0.08080  0.08181  0.07426  0.07474
4    BTC  2010-07-21  0.07474  0.07921  0.06634  0.07921

In [11]:
BTC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5242 entries, 0 to 5241
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  5242 non-null   object
 1   date    5242 non-null   object
 2   open    5242 non-null   float64
 3   high    5242 non-null   float64
 4   low     5242 non-null   float64
 5   close   5242 non-null   float64
dtypes: float64(4), object(2)
memory usage: 245.8+ KB

In [7]:
BTC_df.values

array([['BTC', '2010-07-17', 0.04951, 0.04951, 0.04951, 0.04951],
       ['BTC', '2010-07-18', 0.04951, 0.08585, 0.04951, 0.08584],
       ['BTC', '2010-07-19', 0.08584, 0.09307, 0.07723, 0.0808],
       ...,
       ['BTC', '2024-11-19', 91230.0, 94015.0, 90298.3, 91941.9],
       ['BTC', '2024-11-20', 91926.3, 94904.0, 91630.9, 94225.5],
       ['BTC', '2024-11-21', 94225.5, 99048.2, 93840.4, 98446.5]],
      dtype=object)